* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgrey;
    margin-bottom: 100px;
    clear: both;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 0 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    border-bottom: 2px solid grey;
}

.header h1 {
    display: inline-block;
    color: #f7f7f7;
    background-color: #0068ad;
    font-size: 40px;
    padding: 20px;
    margin: 0;
    height: 100%;
}

.header div {
    padding: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    
}

.header div ul {
    list-style-type: none;
    vertical-align: middle;
    margin: 0;
}

.header div ul li{
    display: inline-block;
    color: #1a1a1a;
    margin-left: 25px;
}

.row {
    width: 100%;
    margin: 0;
}

.card {
    margin: 20px auto auto 35px;
}

.card h4 {
    border-bottom: 5px solid #0068ad;
    padding: 20px 0;
}

.about {
    margin-bottom: 10px;
}

.kitten {
    float: left;
    margin-right: 15px;
}

.portfolioImage {
    width: 100%;
    height: 75%;
    margin: 20px 0;
    border: 2px solid grey;
}

/* #imageHeading {
    position: absolute;
    padding: 10px;
    bottom: 20px;
    left: 15px;
    text-align: center;
    height: 33.3%;
    

} */

.imageHeader {
    position: absolute;
    padding: 5px;
    bottom: 20%;
    left: 15px;
    right: 15px;
    font-weight: bold;
    text-align: center;
    color: #1a1a1a;
    background-color: #0068ad;
    opacity: 0.9;
}

.footer {
    position: fixed;
    bottom: 0;
    /* margin-top: auto; */
    height: 50px;
    width: 100%;
    background-color: #262626;
    border-top: 5px solid #0068ad;
}

@media screen and (max-width: 768px) {
    .card {
        margin: 20px auto;
        width: 100%
    }
}

@media screen and (max-width: 694px) {
    .header {
        padding: 0;
        border-bottom: 0;
    }
    
    .header h1 {
        width: 100%;
        padding: 20px;
        margin: 0;
        text-align: center;
    }

    .header div {
        background-color: white;
        border-bottom: 2px solid grey;
        margin: 0;
        width: 100%;
    }

    .header div ul {
        text-align: center;
    }

    .header div ul li a{
        font-size: 18px;
    }

    .kitten {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }


}



